WHOIS_SERVER=whois.ripe.net
WHOIS_PORT=43
RIPE_REST=https://rest.db.ripe.net
RDAP_BASE=https://rdap.db.ripe.net

HTTP_TIMEOUT_SECONDS=10
WHOIS_CONNECT_TIMEOUT_SECONDS=5
WHOIS_READ_TIMEOUT_SECONDS=5

CACHE_TTL_SECONDS=60
CACHE_MAX_ITEMS=512